@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #141414;
  padding: 1rem 4%;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.rayflix-logo img {
  width: 30px;
  object-fit: contain;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #e50914;
}

main {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #141414;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.movie:hover {
  transform: scale(1.05);
}

.movie img {
  width: 100%;
  object-fit: contain;
  border-bottom: 2px solid #e50914;
}

.movie-info {
  color: #fff;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.movie-info span {
  display: inline-block;
  background-color: #e50914;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
}

.overview {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in-out;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}

/* Styles for search */
.search {
  background-color: #e50914;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 300px;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search:focus {
  background-color: #fff;
  color: #000;
}
